[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
regex = "*"
polygot = "*"
langdetect = "*"
spacy = "*"
termcolor = "*"
pywikibot = "*"
beautifulsoup4 = "*"
pygtrie = "*"
sklearn = "*"
nltk = "*"
sner = "*"
pip = "*"
stanfordnlp = "*"
tensorflow = "*"
pytest = "*"
keras = "*"
tabulate = "*"
pypodcastparser = "*"
polyglot = "*"
pyicu = "*"
pycld2 = "*"
ktrain = "*"
guppy3 = "*"

[requires]
python_version = "3.6"
