[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
regex = "*"
polygot = "*"
langdetect = "*"
spacy = "*"
termcolor = "*"
sqarqlwrapper = "*"
pywikibot = "*"
beautifulsoup4 = "*"
pygtrie = "*"
sklearn = "*"
cpickle = "*"
nltk = "*"
sner = "*"
pip = "*"
install = "*"
stanfordnlp = "*"
tensorflow = "*"
pytest = "*"

[requires]
python_version = "3.6"
